body {
    background-color: lavender;
    margin:10px;
    font-family: 'Ubuntu', sans-serif;
      background-size: 100% 110%;
      color :black;
    
}
h1 { color:blue}
h2 {color:blue}

}
   



